node-red.txt
[{"id":"7268386.b876dc8","type":"tab","label":"Temperatur","disabled":false,"info":""},{"id":"890d5b69.2ca9f8","type":"tab","label":"Bodenfeuchte","disabled":false,"info":""},{"id":"29a7941.5daef6c","type":"tab","label":"Beleuchtung","disabled":false,"info":""},{"id":"d1e2e5ea.f83628","type":"tab","label":"Luftfeuchtigkeit","disabled":false,"info":""},{"id":"63e4bb8e.e46d64","type":"tab","label":"Belueftung","disabled":false,"info":""},{"id":"2463fb7a.7df754","type":"tab","label":"IoT Extras","disabled":false,"info":""},{"id":"577e05f.81721fc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d77e1277.0ab44","type":"ui_tab","z":"","name":"Start","icon":"dashboard","order":1},{"id":"2ffaa53b.785c1a","type":"ui_group","z":"","name":"Temperatur","tab":"d77e1277.0ab44","order":1,"disp":false,"width":"6","collapse":false},{"id":"831ce91.cb60118","type":"ui_group","z":"","name":"Bodenfeuchte","tab":"d77e1277.0ab44","order":2,"disp":false,"width":"6","collapse":false},{"id":"e152a304.ee0f7","type":"ui_group","z":"","name":"Beleuchtung","tab":"d77e1277.0ab44","order":3,"disp":false,"width":"6","collapse":false},{"id":"12761b22.d1fe15","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"9fe8f856.a458f8","type":"ui_group","z":"","name":"Luftfeuchtigkeit","tab":"d77e1277.0ab44","order":4,"disp":false,"width":"6","collapse":false},{"id":"ce424a34.1c65f8","type":"ui_tab","z":"","name":"Erweiterte Einstellungen","icon":"dashboard","order":3},{"id":"908210b.9012bf","type":"ui_group","z":"","name":"Bodenfeuchte","tab":"ce424a34.1c65f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"1eb66093.31f26f","type":"ui_group","z":"","name":"Beleuchtung","tab":"ce424a34.1c65f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"8d2655b9.59d208","type":"ui_group","z":"","name":"Temperatur","tab":"ce424a34.1c65f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e2888782.13a6f8","type":"ui_group","z":"","name":"Luftfeuchtigkeit","tab":"ce424a34.1c65f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ae124c45.f736","type":"ui_tab","z":"","name":"weitere Einstellungen","icon":"dashboard","order":2},{"id":"342d9d0c.3f62a2","type":"ui_group","z":"","name":"Belueftung","tab":"ae124c45.f736","order":1,"disp":true,"width":"6","collapse":false},{"id":"663d8d84.d14c54","type":"ui_slider","z":"7268386.b876dc8","name":"Sollwert Eingabe","label":"","tooltip":"Gewünschte Temperatur in Grad Celcius","group":"2ffaa53b.785c1a","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setVal","min":"0","max":"40","step":1,"x":1172.6999473571777,"y":447.00001668930054,"wires":[["d6293b7c.e15ab8","adf619b4.cc2f08"]]},{"id":"e4ea8b7c.098f08","type":"ui_gauge","z":"7268386.b876dc8","name":"Ausgabe derzeitige Temperatur","group":"2ffaa53b.785c1a","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperatur","label":"Grad Celcius","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1152.7000312805176,"y":636.0002341270447,"wires":[]},{"id":"ae97bb32.660268","type":"ui_chart","z":"7268386.b876dc8","name":"Graph Temperaturverlauf 24h","group":"2ffaa53b.785c1a","order":4,"width":0,"height":0,"label":"Verlauf 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Noch keine Daten vorhanden","dot":false,"ymin":"0","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1155.7001686096191,"y":672.600350856781,"wires":[[],[]]},{"id":"97f736f5.f81948","type":"ui_toast","z":"7268386.b876dc8","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Statusmeldung Warnung","x":1439.6999435424805,"y":184.60013103485107,"wires":[]},{"id":"f67a5f66.09711","type":"trigger","z":"7268386.b876dc8","op1":"Temperatur kritisch!","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"0","bytopic":"all","name":"Trigger Warnungsmeldung","x":1440.6999435424805,"y":225.00010108947754,"wires":[["97f736f5.f81948"]]},{"id":"c920f5f7.c98388","type":"function","z":"7268386.b876dc8","name":"Temperatur Warnungscheck","func":"var threshold = context.get(\"threshold\") || 100;\n\nif (msg.topic === \"threshold\")\n{\n    context.set(\"threshold\", msg.payload);\n}\nelse if (threshold !== 0)\n{\n    if (Math.abs(msg.payload) > threshold)\n    {\n        return {payload: 1};\n    }\n    else\n    {\n        return {payload: 0};\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":1440.699951171875,"y":266.00008964538574,"wires":[["f67a5f66.09711"]]},{"id":"ec0417db.dfc9d8","type":"inject","z":"7268386.b876dc8","name":"Istwert","topic":"actVal","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1151.076244354248,"y":525.9584059715271,"wires":[["e4ea8b7c.098f08","ae97bb32.660268","adf619b4.cc2f08"]]},{"id":"d6293b7c.e15ab8","type":"ui_text","z":"7268386.b876dc8","group":"2ffaa53b.785c1a","order":2,"width":0,"height":0,"name":"Sollwert Ausgabe","label":"Sollwert in ?","format":"{{msg.payload}}","layout":"col-center","x":1170.7812461853027,"y":405.5313506126404,"wires":[]},{"id":"2eb5cb51.1adfd4","type":"function","z":"7268386.b876dc8","name":"Temperaturregler","func":"if (msg.topic !== \"threshold\")\n{\n    var threshold = context.get(\"threshold\") || 0.5;\n    //Temperatur an jeweiligen Aktor senden, anderen Aktor abschalten\n    var retVal = [{payload: 0},{payload: 0}];\n    \n    //Heizmatte\n    if (msg.payload > threshold)\n    {\n        retVal = [msg,{payload: 0}];\n        console.log(\"Temperaturkontext - Luefter inaktiv, Heizmatte aktiv\")\n    }\n    //Luefter\n    else if (msg.payload < (-1)*threshold)\n    {\n        retVal = [{payload: 0},msg];\n        console.log(\"Temperaturkontext - Luefter aktiv, Heizmatte inaktiv\")\n    }\n    else\n    {\n        console.log(\"Temperaturkontext - Luefter inaktiv, Heizmatte inaktiv\")\n    }\n    \n    return retVal;\n}\nelse\n{\n    context.set(\"threshold\",msg.payload);\n    return [null,null]\n}","outputs":2,"noerr":0,"x":1800.0730667114258,"y":484.86469078063965,"wires":[["61773491.fb288c"],["36b31c53.e7cf34"]]},{"id":"a9ea8d44.1aa12","type":"debug","z":"7268386.b876dc8","name":"Steuerung Luefter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":2352.0732192993164,"y":534.6043148040771,"wires":[]},{"id":"61e52938.807fd8","type":"debug","z":"7268386.b876dc8","name":"Steuerung Heizmatte","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":2357.0173721313477,"y":413.0105199813843,"wires":[]},{"id":"f6c04d84.f4a03","type":"ui_slider","z":"890d5b69.2ca9f8","name":"Sollwert Eingabe","label":"","tooltip":"Gewünschte prozentualle Bodenfeuchte","group":"831ce91.cb60118","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setVal","min":"0","max":"100","step":1,"x":412.0174255371094,"y":349.01042556762695,"wires":[["ddce5aab.930c98","4a902bdd.1afbd4"]]},{"id":"c8e2fa42.e5d4a8","type":"ui_gauge","z":"890d5b69.2ca9f8","name":"Ausgabe derzeitige Bodenfeuchte","group":"831ce91.cb60118","order":1,"width":"6","height":"4","gtype":"wave","title":"Bodenfeuchte","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":416.01747131347656,"y":553.0106410980225,"wires":[]},{"id":"875c2573.75bef8","type":"ui_chart","z":"890d5b69.2ca9f8","name":"Graph Bodenfeuchteverlauf 24h","group":"831ce91.cb60118","order":4,"width":"0","height":"0","label":"Verlauf 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Noch keine Daten vorhanden","dot":false,"ymin":"0","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":412.0176544189453,"y":593.6108226776123,"wires":[[],[]]},{"id":"81a3199c.ba1f88","type":"ui_toast","z":"890d5b69.2ca9f8","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Statusmeldung Warnung","x":747.0174331665039,"y":122.61049723625183,"wires":[]},{"id":"3171c0c.cd3054","type":"trigger","z":"890d5b69.2ca9f8","op1":"Bodenfeuchte kritisch!","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"0","bytopic":"all","name":"Trigger Warnungsmeldung","x":749.0173187255859,"y":169.0104751586914,"wires":[["81a3199c.ba1f88"]]},{"id":"796ce517.48c09c","type":"inject","z":"890d5b69.2ca9f8","name":"Istwert","topic":"actVal","payload":"55","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":481.3937072753906,"y":423.96881103515625,"wires":[["c8e2fa42.e5d4a8","875c2573.75bef8","4a902bdd.1afbd4"]]},{"id":"ddce5aab.930c98","type":"ui_text","z":"890d5b69.2ca9f8","group":"831ce91.cb60118","order":2,"width":0,"height":0,"name":"Sollwert Ausgabe","label":"Sollwert in %","format":"{{msg.payload}}","layout":"col-center","x":411.09876251220703,"y":308.5417757034302,"wires":[]},{"id":"4a902bdd.1afbd4","type":"function","z":"890d5b69.2ca9f8","name":"Feuchtigkeitsdiff ausrechnen","func":"if (msg.topic === \"setVal\")\n{\n    context.set(\"setValue\", msg.payload);\n}\nelse\n{\n    context.set(\"actualValue\", msg.payload);\n}\n\nvar actualValue = context.get(\"actualValue\") || 0;\nvar setValue = context.get(\"setValue\") || 0;\n\nvar diff = setValue - actualValue \nreturn {payload: diff}\n","outputs":1,"noerr":0,"x":824.3903503417969,"y":366.875036239624,"wires":[["8de446cc.ab2968","32223955.641726"]]},{"id":"6a76dde9.d442c4","type":"ui_slider","z":"29a7941.5daef6c","name":"Sollwert Eingabe","label":"","tooltip":"Gewünschte Beleuchtungstaerke","group":"e152a304.ee0f7","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setVal","min":"0","max":"100","step":1,"x":724.017333984375,"y":396.0104064941406,"wires":[["fa4fc038.fbd23","a04a2b41.901538"]]},{"id":"cfa80057.f3123","type":"ui_gauge","z":"29a7941.5daef6c","name":"Ausgabe derzeitige Beleuchtung","group":"e152a304.ee0f7","order":1,"width":"6","height":"4","gtype":"donut","title":"Beleuchtungsintensität","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#000000","#ff8000","#ffff80"],"seg1":"","seg2":"","x":708.0173797607422,"y":551.0105819702148,"wires":[]},{"id":"bdc11630.817188","type":"ui_chart","z":"29a7941.5daef6c","name":"Graph Beleuchtung 24h","group":"e152a304.ee0f7","order":4,"width":"0","height":"0","label":"Verlauf 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Noch keine Daten vorhanden","dot":false,"ymin":"0","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700.0175170898438,"y":592.6107959747314,"wires":[[],[]]},{"id":"fa9dc49a.e7d688","type":"inject","z":"29a7941.5daef6c","name":"Istwert","topic":"actVal","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":548.3936424255371,"y":462.9688329696655,"wires":[["cfa80057.f3123","bdc11630.817188","a04a2b41.901538"]]},{"id":"fa4fc038.fbd23","type":"ui_text","z":"29a7941.5daef6c","group":"e152a304.ee0f7","order":2,"width":0,"height":0,"name":"Sollwert Ausgabe","label":"Sollwert","format":"{{msg.payload}}","layout":"col-center","x":724.0986022949219,"y":355.5417628288269,"wires":[]},{"id":"a04a2b41.901538","type":"function","z":"29a7941.5daef6c","name":"Differenz ausrechnen","func":"if (msg.topic === \"setVal\")\n{\n    context.set(\"setValue\", msg.payload);\n}\nelse\n{\n    context.set(\"actualValue\", msg.payload);\n}\n\nvar actualValue = context.get(\"actualValue\") || 0;\nvar setValue = context.get(\"setValue\") || 0;\n\nvar diff = setValue - actualValue;\nreturn {payload: diff, topic : \"diff\"};\n","outputs":1,"noerr":0,"x":961.390266418457,"y":459.87502002716064,"wires":[["5c92bffb.123cb"]]},{"id":"6f1e8ba.e16be74","type":"debug","z":"29a7941.5daef6c","name":"Steuerung LEDs","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":1422.3904724121094,"y":602.614709854126,"wires":[]},{"id":"30c691de.148e8e","type":"ui_slider","z":"d1e2e5ea.f83628","name":"Sollwert Eingabe","label":"","tooltip":"Gewünschte prozentualle Luftfeuchte","group":"9fe8f856.a458f8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setVal","min":"0","max":"100","step":1,"x":683.017333984375,"y":369.0104064941406,"wires":[["543f5f3d.b2743","84514cf6.878d3"]]},{"id":"ba11f4d0.fceff8","type":"ui_gauge","z":"d1e2e5ea.f83628","name":"Ausgabe derzeitige Luftfeuchtigkeit","group":"9fe8f856.a458f8","order":1,"width":"6","height":"4","gtype":"donut","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#008080","#0080c0","#0000ff"],"seg1":"","seg2":"","x":684.0174179077148,"y":616.0105457305908,"wires":[]},{"id":"cb77a683.7595e8","type":"ui_chart","z":"d1e2e5ea.f83628","name":"Graph Luftfeuchtigkeit 24h","group":"9fe8f856.a458f8","order":4,"width":"0","height":"0","label":"Verlauf 24h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Noch keine Daten vorhanden","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":677.0175552368164,"y":652.6106624603271,"wires":[[],[]]},{"id":"2a2aecb7.6ee1d4","type":"ui_toast","z":"d1e2e5ea.f83628","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Statusmeldung Warnung","x":1087.0173645019531,"y":94.61047315597534,"wires":[]},{"id":"cbd43dc.b4354c","type":"trigger","z":"d1e2e5ea.f83628","op1":"Luftfeuchte kritisch!","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"0","bytopic":"all","name":"Trigger Warnungsmeldung","x":1085.0173645019531,"y":139.0104422569275,"wires":[["2a2aecb7.6ee1d4"]]},{"id":"2bac221b.4b904e","type":"function","z":"d1e2e5ea.f83628","name":"Luftfeuchtigkeits Warnungscheck","func":"var threshold = context.get(\"threshold\") || 100;\n\nif (msg.topic === \"threshold\")\n{\n    context.set(\"threshold\", msg.payload);\n}\nelse if (threshold !== 0)\n{\n    if (Math.abs(msg.payload) > threshold)\n    {\n        return {payload: 1};\n    }\n    else\n    {\n        return {payload: 0};\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":1098.017318725586,"y":180.0104365348816,"wires":[["cbd43dc.b4354c"]]},{"id":"e110418c.21575","type":"inject","z":"d1e2e5ea.f83628","name":"Istwert","topic":"actVal","payload":"55","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":713.3936614990234,"y":486.9688091278076,"wires":[["ba11f4d0.fceff8","cb77a683.7595e8","84514cf6.878d3"]]},{"id":"543f5f3d.b2743","type":"ui_text","z":"d1e2e5ea.f83628","group":"9fe8f856.a458f8","order":2,"width":0,"height":0,"name":"Sollwert Ausgabe","label":"Sollwert in %","format":"{{msg.payload}}","layout":"col-center","x":684.0986557006836,"y":328.5417413711548,"wires":[]},{"id":"2b61493d.70b8c6","type":"function","z":"d1e2e5ea.f83628","name":"Luefterregler","func":"const humidityPriority = 6;\n\nif (msg.payload < 0)\n{\n    return {action : 1,priority: humidityPriority, duration: 5};\n}\nelse\n{\n    return {action : 0,priority: humidityPriority, duration: 5};\n}","outputs":1,"noerr":0,"x":1181.3903045654297,"y":429.8750915527344,"wires":[["d5793d54.78b0a","b51413e3.69e9d"]]},{"id":"d5793d54.78b0a","type":"debug","z":"d1e2e5ea.f83628","name":"Steuerung Luefter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1417.3905944824219,"y":361.6146764755249,"wires":[]},{"id":"918fec0.2aee418","type":"function","z":"890d5b69.2ca9f8","name":"Pumpenregler","func":"var wateringDuration = context.get(\"wateringDuration\") || 0;\n\n//Bewaessrung uberpruefen\nif (msg.topic !== \"wateringDuration\")\n{\n    if (msg.payload > 0)\n    {\n        /*Deaktivierungssignal gleichzeitig mit Aktivierungssignal senden\n          Deaktivierungssignal wird verzoegert die Pumpensteuerung erreichen\n          abhaeging von der Bewaesserungsdauer*/\n        var pumpAfterDelay = {\n            payload : false,\n            delay: wateringDuration*(msg.payload)*1000\n        }\n        return [{payload: true},pumpAfterDelay]\n    }\n    else\n    {\n        return [{payload: false},null]\n    }\n}\nelse\n{\n    //Einstellungen an Bewasserungsdauer vornehmen\n    context.set(\"wateringDuration\",msg.payload);\n    return [null,null];\n}\n","outputs":2,"noerr":0,"x":798.0729675292969,"y":486.6388416290283,"wires":[["aa7ccc20.20568"],["a104887a.c4fe18"]]},{"id":"a104887a.c4fe18","type":"delay","z":"890d5b69.2ca9f8","name":"Deaktivierungssignal verzoergern","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1072.0692901611328,"y":506.7991428375244,"wires":[["aa7ccc20.20568"]]},{"id":"aa7ccc20.20568","type":"function","z":"890d5b69.2ca9f8","name":"Pumpensteuerung","func":"if (msg.payload === false)\n{\n    console.log(\"Pumpe inaktiv\");\n    return {payload: \"Pumpe inaktiv\"}\n}\nelse\n{\n    console.log(\"Pumpe aktiv\");\n    return {payload: \"Pumpe aktiv\"}\n}\n","outputs":1,"noerr":0,"x":1349.0798950195312,"y":479.85765266418457,"wires":[["c27e415.84dcac"]]},{"id":"8de446cc.ab2968","type":"delay","z":"890d5b69.2ca9f8","name":"Durchsatz: 1 Nachricht/Min (Totzeit)","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":822.0729675292969,"y":428.788293838501,"wires":[["918fec0.2aee418"]]},{"id":"627f47a.a5a0eb8","type":"ui_slider","z":"890d5b69.2ca9f8","name":"Bewaesserungsdauer Eingabe","label":"","tooltip":"Fuer jedes % Differenz 0.1s*x bewaessern","group":"908210b.9012bf","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"wateringDuration","min":0,"max":"1","step":"0.1","x":718.0728607177734,"y":615.7054405212402,"wires":[["918fec0.2aee418","72a2335b.49095c"]]},{"id":"c27e415.84dcac","type":"debug","z":"890d5b69.2ca9f8","name":"Pumpe","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":1536.0801544189453,"y":479.37159633636475,"wires":[]},{"id":"72a2335b.49095c","type":"ui_text","z":"890d5b69.2ca9f8","group":"908210b.9012bf","order":6,"width":0,"height":0,"name":"Bewaesserungsdauer Ausgabe","label":"Bewaesserungsdauer in s","format":"{{msg.payload}}","layout":"col-center","x":714.0173187255859,"y":668.0105791091919,"wires":[]},{"id":"5c92bffb.123cb","type":"delay","z":"29a7941.5daef6c","name":"Durchsatz: 1 Nachricht/s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1050.0833892822266,"y":526.5729637145996,"wires":[["b75fcf00.3045"]]},{"id":"b75fcf00.3045","type":"function","z":"29a7941.5daef6c","name":"LEDRegler","func":"/*-------------------------------------------------------\n *Offset addieren wenn Licht vom Gewaechshauses an ist,\n *aufgrund der Interaktion zwischen LEDs und Lichtsensor\n *------------------------------------------------------*/\nconst LIGHT_OFF_OFFSET = 0;\n/* ---------------Lichterkette anschalten---------------------\n * Erst wenn die Regeldifferenz mind. 10 Funktionsaufrufe lang\n * erhalten bleibt, Licht anschalten\n * Dient zur Entfernung von Stoerungen/Rauschen\n * ----------------------------------------------------------*/\n \nif (msg.topic === \"diff\")\n{\n    var counter = context.get(\"counter\")||0;\n    var lightOnOffOffset = context.get(\"lightOnOffOffset\")||0;\n    var lightOnOffset = context.get(\"lightOnOffset\") || 7;\n    var waitUntil = context.get(\"waitUntil\") || 10\n    \n    var retVal = null;\n    var lightWithOffset = msg.payload + lightOnOffOffset;\n    if (lightWithOffset  > 0)\n    {\n        counter += 1;\n        if(counter >= waitUntil)\n        {\n            counter = 0;\n            retVal = {payload : 1};\n            context.set(\"lightOnOffOffset\",lightOnOffset);\n            console.log(\"LEDs aktiv\");\n        }\n        context.set(\"counter\",counter);\n    }\n    else\n    {   \n        counter -= 1;\n        if(counter <= (-1)*waitUntil)\n        {\n            counter = 0;\n            retVal = {payload: 0}\n            context.set(\"lightOnOffOffset\",LIGHT_OFF_OFFSET);\n            console.log(\"LEDs inaktiv\");\n        }\n        context.set(\"counter\",counter);\n        \n    }\n    return retVal;\n}\nelse if (msg.topic === \"lightOnOffset\")\n{\n    context.set(\"lightOnOffset\",msg.payload);\n    console.log(\"Erw: Beleuchtung lightOnOffset: \" + msg.payload);\n}\nelse if (msg.topic === \"waitUntil\")\n{\n   context.set(\"waitUntil\",msg.payload);\n   console.log(\"Erw: Beleuchtung waitUntil: \" + msg.payload);\n}\nreturn null;","outputs":1,"noerr":0,"x":1194.0173645019531,"y":602.0105352401733,"wires":[["6f1e8ba.e16be74"]]},{"id":"adf619b4.cc2f08","type":"function","z":"7268386.b876dc8","name":"Differenz ausrechnen","func":"if (msg.topic === \"setVal\")\n{\n    context.set(\"setValue\", msg.payload);\n}\nelse\n{\n    context.set(\"actualValue\", msg.payload);\n}\n\nvar actualValue = context.get(\"actualValue\") || 0;\nvar setValue = context.get(\"setValue\") || 0;\n\nvar diff = setValue - actualValue \nreturn {payload: diff}\n","outputs":1,"noerr":0,"x":1476.0173301696777,"y":485.01044034957886,"wires":[["c920f5f7.c98388","2eb5cb51.1adfd4"]]},{"id":"84514cf6.878d3","type":"function","z":"d1e2e5ea.f83628","name":"Differenz ausrechnen","func":"if (msg.topic === \"setVal\")\n{\n    context.set(\"setValue\", msg.payload);\n}\nelse\n{\n    context.set(\"actualValue\", msg.payload);\n}\n\nvar actualValue = context.get(\"actualValue\") || 0;\nvar setValue = context.get(\"setValue\") || 0;\n\nvar diff = setValue - actualValue \nreturn {payload: diff}\n","outputs":1,"noerr":0,"x":916.6667098999023,"y":429.3333549499512,"wires":[["2b61493d.70b8c6","2bac221b.4b904e"]]},{"id":"2b23224b.5278de","type":"ui_slider","z":"7268386.b876dc8","name":"Warnung Schwelle Eingabe","label":"","tooltip":"\"0\" deaktiviert die Warnung  | +/- Schwelle für Warnung","group":"8d2655b9.59d208","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"threshold","min":0,"max":"50","step":"1","x":1095.8333206176758,"y":264.66671562194824,"wires":[["c920f5f7.c98388","862942e.f5c17c"]]},{"id":"32223955.641726","type":"function","z":"890d5b69.2ca9f8","name":"Bodenfeuchte Warnungscheck","func":"var threshold = context.get(\"threshold\") || 100;\n\nif (msg.topic === \"threshold\")\n{\n    context.set(\"threshold\", msg.payload);\n}\nelse if (threshold !== 0)\n{\n    if (Math.abs(msg.payload) > threshold)\n    {\n        return {payload: 1};\n    }\n    else\n    {\n        return {payload: 0};\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":749.8666381835938,"y":215.3333797454834,"wires":[["3171c0c.cd3054"]]},{"id":"862942e.f5c17c","type":"ui_text","z":"7268386.b876dc8","group":"8d2655b9.59d208","order":1,"width":0,"height":0,"name":"Warnungsschwelle Ausgabe","label":"Temp.Diff fuer Warnung","format":"{{msg.payload}}","layout":"col-center","x":1094.8333282470703,"y":309.6666965484619,"wires":[]},{"id":"4a65a6aa.891798","type":"ui_text","z":"890d5b69.2ca9f8","group":"908210b.9012bf","order":4,"width":0,"height":0,"name":"Warnungsschwelle Ausgabe","label":"%.Diff fuer Warnung","format":"{{msg.payload}}","layout":"col-center","x":394.00000762939453,"y":259.00002670288086,"wires":[]},{"id":"4b0176c8.c39708","type":"ui_slider","z":"890d5b69.2ca9f8","name":"Warnung Schwelle Eingabe","label":"","tooltip":"\"0\" deaktiviert die Warnung  | +/- Schwelle für Warnung","group":"908210b.9012bf","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"threshold","min":0,"max":"15","step":"0.5","x":395,"y":214.0000457763672,"wires":[["4a65a6aa.891798","32223955.641726"]]},{"id":"70eda2d.9a54b5c","type":"ui_slider","z":"7268386.b876dc8","name":"Temperaturtoleranz Eingabe","label":"","tooltip":"+/- Schwelle bis Regler aktiv wird","group":"8d2655b9.59d208","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"threshold","min":0,"max":"4","step":"0.2","x":1731.6666412353516,"y":577.9999990463257,"wires":[["9dc492e2.6baf2","2eb5cb51.1adfd4"]]},{"id":"9dc492e2.6baf2","type":"ui_text","z":"7268386.b876dc8","group":"8d2655b9.59d208","order":3,"width":0,"height":0,"name":"Temperaturtoleranz Ausgabe","label":"Temp. Toleranz Regler","format":"{{msg.payload}}","layout":"col-center","x":1731.6666412353516,"y":623,"wires":[]},{"id":"b64393c6.95ffc","type":"ui_slider","z":"29a7941.5daef6c","name":"Offset LED An/Aus Eingabe","label":"","tooltip":"Offset um LED <-> Sensor Interaktion zu kompensieren","group":"1eb66093.31f26f","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"lightOnOffset","min":0,"max":"50","step":"1","x":677.0001831054688,"y":710.6667079925537,"wires":[["1fbd505c.1501b","b75fcf00.3045"]]},{"id":"1fbd505c.1501b","type":"ui_text","z":"29a7941.5daef6c","group":"1eb66093.31f26f","order":3,"width":0,"height":0,"name":"Offset LED An/Aus Ausgabe","label":"Offset LED An/Aus","format":"{{msg.payload}}","layout":"col-center","x":691.0002326965332,"y":760.6666870117188,"wires":[]},{"id":"d7cbacad.559bf","type":"ui_slider","z":"29a7941.5daef6c","name":"Dauer der Lichtveraenderung fuer Aktion Eingabe","label":"","tooltip":"Dauer wie lange Licht an/aus sein muss damit LEDs agieren","group":"1eb66093.31f26f","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"waitUntil","min":0,"max":"60","step":"1","x":670.0000305175781,"y":807.6667079925537,"wires":[["ca5c5f37.a6e36","b75fcf00.3045"]]},{"id":"ca5c5f37.a6e36","type":"ui_text","z":"29a7941.5daef6c","group":"1eb66093.31f26f","order":1,"width":0,"height":0,"name":"Dauer für Lichtveraenderung fuer Aktion Ausgabe","label":"Dauer der Lichtveraenderung bis Aktion","format":"{{msg.payload}}","layout":"col-center","x":678.0000305175781,"y":857.6667098999023,"wires":[]},{"id":"515d63c3.01f09c","type":"ui_text","z":"d1e2e5ea.f83628","group":"e2888782.13a6f8","order":4,"width":0,"height":0,"name":"Warnungsschwelle Ausgabe","label":"%.Diff fuer Warnung","format":"{{msg.payload}}","layout":"col-center","x":723.6840057373047,"y":221.67708015441895,"wires":[]},{"id":"b5ed0c84.1466f","type":"ui_slider","z":"d1e2e5ea.f83628","name":"Warnungsschwelle Eingabe","label":"","tooltip":"\"0\" deaktiviert die Warnung  | +/- Schwelle für Warnung","group":"e2888782.13a6f8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"threshold","min":0,"max":"50","step":"2","x":724.6839981079102,"y":176.67709922790527,"wires":[["515d63c3.01f09c","2bac221b.4b904e"]]},{"id":"1f1aea6a.be2f56","type":"ui_slider","z":"63e4bb8e.e46d64","name":"Zeitabstand Belueftung Eingabe","label":"","tooltip":"Zeitabstand zwischen den Belueftungen in Stunden","group":"342d9d0c.3f62a2","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"interval","min":0,"max":"48","step":"1","x":592.0196075439453,"y":389.0039358139038,"wires":[["53963628.4736c8","fcd45675.e61a78"]]},{"id":"53963628.4736c8","type":"ui_text","z":"63e4bb8e.e46d64","group":"342d9d0c.3f62a2","order":1,"width":0,"height":0,"name":"Zeitabstand Belueftung Ausgabe","label":"Zeitabstand Belueftung","format":"{{msg.payload}}","layout":"col-center","x":591.9640808105469,"y":441.30912685394287,"wires":[]},{"id":"3c2b3fef.9463e","type":"ui_slider","z":"63e4bb8e.e46d64","name":"Dauer der Zwangsbelueftung Eingabe","label":"","tooltip":"Dauer der Zwangsbelueftung in Minuten","group":"342d9d0c.3f62a2","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"duration","min":0,"max":"60","step":"1","x":605.0196533203125,"y":153.00394248962402,"wires":[["54976023.46433","fcd45675.e61a78"]]},{"id":"54976023.46433","type":"ui_text","z":"63e4bb8e.e46d64","group":"342d9d0c.3f62a2","order":3,"width":0,"height":0,"name":"Dauer der Zwangsbelueftung Ausgabe","label":"Zeitabstand Belueftung","format":"{{msg.payload}}","layout":"col-center","x":604.9641418457031,"y":199.3090419769287,"wires":[]},{"id":"fcd45675.e61a78","type":"function","z":"63e4bb8e.e46d64","name":"Regler Belueftung","func":"const priorityVentilation = 0;\n\nif (msg.topic === \"duration\")\n{\n    context.set(\"duration\", msg.payload);\n    return null;\n}\nelse if (msg.topic === \"interval\")\n{\n    context.set(\"interval\", msg.payload);\n    return null;\n}\n\nvar duration = context.get(\"duration\") || 5;\nvar interval = context.get(\"interval\") || 8;\nvar counter = context.get(\"counter\") || 0;\n\nvar retVal = null;\n\n/*Wenn Zeit erreicht ist dann sende Startsignal fuer Luefter ab und \n  verzoegertes stopsignal */\ncounter += 1;\ncontext.set(\"counter\",counter);\n\nif (counter >= interval){\n    counter = 0;\n    retVal = {action: 1, priority: priorityVentilation,duration: duration};\n}\nreturn retVal;","outputs":1,"noerr":0,"x":969.8984985351562,"y":281.2617712020874,"wires":[["a92f1c0f.84d14","48d12829.1af198"]]},{"id":"61773491.fb288c","type":"function","z":"7268386.b876dc8","name":"Faktor * Differenz","func":"if (msg.topic === \"factor\")\n{\n    context.set(\"factor\", msg.payload);\n    return null;\n}\nvar factor = context.get(\"factor\")|| 10;\n\nreturn {payload: factor*msg.payload};\n\n","outputs":1,"noerr":0,"x":2056.882974624634,"y":412.5195369720459,"wires":[["61e52938.807fd8"]]},{"id":"e8ee0a41.8763a8","type":"ui_slider","z":"7268386.b876dc8","name":"Heizdauer Faktor Eingabe","label":"","tooltip":"Dauer in Sekunden pro Grad Differenz","group":"8d2655b9.59d208","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"factor","min":0,"max":"60","step":"1","x":2032.019515991211,"y":264.0039281845093,"wires":[["ea9b8f2d.ce7d2","61773491.fb288c"]]},{"id":"ea9b8f2d.ce7d2","type":"ui_text","z":"7268386.b876dc8","group":"8d2655b9.59d208","order":5,"width":0,"height":0,"name":"Heizsdauer Faktor Ausgabe","label":"Herzdauer pro Grad Differenz","format":"{{msg.payload}}","layout":"col-center","x":2038.019515991211,"y":321.0039281845093,"wires":[]},{"id":"36b31c53.e7cf34","type":"function","z":"7268386.b876dc8","name":"Faktor * Differenz","func":"const tempPriority = 1;\n\nif (msg.topic === \"factor\")\n{\n    context.set(\"factor\", msg.payload);\n    return null;\n}\nvar factor = context.get(\"factor\") || 10;\nvar action = 0;\n\n//Wenn Temp.Diff negativ, dann muss gelueftet werden, sonst Luefter anhalten\nif(msg.payload < 0)\n{\n    action = 1;\n}\nreturn {action : action,priority: tempPriority, duration: factor*msg.payload*(-1)};\n\n","outputs":1,"noerr":0,"x":2055.019660949707,"y":555.0038976669312,"wires":[["a9ea8d44.1aa12","ee84c8b1.8d9938"]]},{"id":"5bd12482.3ee0ac","type":"ui_slider","z":"7268386.b876dc8","name":"Belueftungsdauer Faktor Eingabe","label":"","tooltip":"Dauer in Sekunden pro Grad Differenz","group":"8d2655b9.59d208","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"factor","min":0,"max":"60","step":"1","x":1784.019515991211,"y":708.0038900375366,"wires":[["52b92e80.6386e","36b31c53.e7cf34"]]},{"id":"52b92e80.6386e","type":"ui_text","z":"7268386.b876dc8","group":"8d2655b9.59d208","order":7,"width":0,"height":0,"name":"Belueftungsdauer Faktor Ausgabe","label":"Belüf.Dauer pro Grad Differenz","format":"{{msg.payload}}","layout":"col-center","x":1780.019515991211,"y":765.0038900375366,"wires":[]},{"id":"ee84c8b1.8d9938","type":"link out","z":"7268386.b876dc8","name":"Temperatur - Luefter","links":["c79cc132.4702b"],"x":2294.890604019165,"y":593.6875143051147,"wires":[]},{"id":"b51413e3.69e9d","type":"link out","z":"d1e2e5ea.f83628","name":"Luftfeuchtigkeit - Luefter","links":["c79cc132.4702b"],"x":1412.1328735351562,"y":430.9531784057617,"wires":[]},{"id":"a92f1c0f.84d14","type":"link out","z":"63e4bb8e.e46d64","name":"Belueftung - Luefter","links":["c79cc132.4702b"],"x":1209.8906993865967,"y":280.699254989624,"wires":[]},{"id":"48d12829.1af198","type":"debug","z":"63e4bb8e.e46d64","name":"Luefter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"duration","x":1188.882827758789,"y":229.70704650878906,"wires":[]},{"id":"84d8543f.1ccf58","type":"inject","z":"63e4bb8e.e46d64","name":"0.5 ticks / h","topic":"tick","payload":"","payloadType":"num","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":674.8867340087891,"y":281.95705223083496,"wires":[["fcd45675.e61a78"]]},{"id":"1b3e3a2a.489db6","type":"feedparse","z":"2463fb7a.7df754","name":"","url":"https://www.reddit.com/r/gardening/.rss","interval":"1","x":691.0195350646973,"y":200.00390243530273,"wires":[["228385d9.b57b3a"]]},{"id":"d5d627d5.421c28","type":"ui_toast","z":"2463fb7a.7df754","position":"bottom right","displayTime":"120","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1357.0234642028809,"y":199.5157651901245,"wires":[]},{"id":"228385d9.b57b3a","type":"delay","z":"2463fb7a.7df754","name":"Deaktivierungssignal verzoergern","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1061.398452758789,"y":199.7617130279541,"wires":[["d5d627d5.421c28"]]},{"id":"c79cc132.4702b","type":"link in","z":"63e4bb8e.e46d64","name":"Eingangbelueftung","links":["a92f1c0f.84d14","b51413e3.69e9d","ee84c8b1.8d9938"],"x":479.89459800720215,"y":693.8984279632568,"wires":[["d17aa83c.536728"]]},{"id":"d17aa83c.536728","type":"function","z":"63e4bb8e.e46d64","name":"Prioritaetsverwaltung Luefter","func":"if (msg.topic !== \"tick\")\n{\n    var currentPriority = context.get(\"currentPriority\") || 100;\n    //Falls akutelle Prio hoeher ist (niedrigerer Wert), dann nichts machen\n    console.log(\"Prio: \" +msg.priority)\n    if (currentPriority < msg.priority)\n    {\n        return [null,null];\n    }\n    context.set(\"currentPriority\",msg.priority);\n    context.set(\"currentTimer\",msg.duration);\n\n    \n    //Falls Luefter deaktiviert werden soll, dann direkt machen\n    if (msg.action === 0)\n    {\n        return [{payload: false},null];\n    }\n    \n    //Aktiviere Luefter und bereinige die Verzoegerung\n    node.send([{payload: true},{reset : true}]);\n    //Sende Deaktivierungssignal mit Zeitangabe ans Verzoegerungsglied\n    return [null, {payload: false, delay : msg.duration*1000}];\n}\n/*solange keine Nachricht hoeherer Prioritaet gekommen ist, \n  wird die Lueftersteuerung gesperrt, außer es wird eine Nachricht mit\n  der selben Prioritaet wieder empfangen*/\nelse\n{\n    var currentTimer = context.get(\"currentTimer\") || 0;\n    currentTimer-=1;\n    if (currentTimer < 0)\n    {\n        //kleine Verzoegerung gegen Node-Spamm\n        currentTimer = 100; \n        //Die naechste Nachricht kann absofort den Luefter ansteuern\n        context.set(\"currentPriority\",100); \n    }\n    context.set(\"currentTimer\",currentTimer);\n    return [null,null];\n}","outputs":2,"noerr":0,"x":733.890625,"y":693.51953125,"wires":[["ea8e58ce.3b80a8"],["2e7f242d.d1a42c"]]},{"id":"ea8e58ce.3b80a8","type":"function","z":"63e4bb8e.e46d64","name":"Lueftersteuerung","func":"if (msg.payload === true)\n{\n    console.log(\"Luefter aktiv\");\n    return {payload : 1};\n}\nelse\n{\n    console.log(\"Luefer inaktiv\");\n    return {payload : 0};\n}","outputs":1,"noerr":0,"x":1295.8906555175781,"y":686.5236644744873,"wires":[["2f243f7f.bf25e"]]},{"id":"2e7f242d.d1a42c","type":"delay","z":"63e4bb8e.e46d64","name":"Vezoerung Luefter deaktivieren","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1034.882827758789,"y":723.4806804656982,"wires":[["ea8e58ce.3b80a8"]]},{"id":"2f243f7f.bf25e","type":"debug","z":"63e4bb8e.e46d64","name":"Luefter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"duration","x":1507.01953125,"y":680.0039501190186,"wires":[]},{"id":"d559bbc2.83b7e8","type":"inject","z":"63e4bb8e.e46d64","name":"tick","topic":"tick","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":506.8945541381836,"y":606.941427230835,"wires":[["d17aa83c.536728"]]}]